@value fontSizes: './typography.css';
@value main-title, nft-title, nft-description from fontSizes;

.item {
  margin-bottom: 18px;
}

.single-image {
  height: 183px;
  width: fit-content;
  margin: 9px 1px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #FFFFFF;
}

.modal {
  width: 385px;
  height: 700px;
  border-radius: 10px;
}

.card-header {
  height: 38px;
  padding: 0 !important;
}

.card-image {
  margin: 0 auto;
}