@font-face {
  font-family: 'NeueBit';
  src: url('/assets/fonts/NeueBit-Bold.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NeueBit';  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
